* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

/* common */
.text-center{
    text-align: center;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third {
    width: calc(100%/3);
}
.col-half {
    width: calc(100%/2);
}
.col-full {
    width:100% ;
}
.mt-8{
margin-top:8px!important;
}
.mt-16{
    margin-top:16px;
}




#main {}

.clear {
    clear: both;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.5;

}

.text-white {
    color: #fff !important;
}

#header {
    height: 46px;
    background-color: blue;   
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style-type: none;
}


#nav>li {
    display: inline-block;
}

#nav li {

    position: relative;

}

#nav>li>a {
    color:black;
    text-transform: uppercase;
    font-size: 15px;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover,
#nav>li:hover>a{
    background-color: #ccc;
    color: #000;

}


#nav .subnav {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
    top: 100%;
    left: 0;
}


#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
    font-size: 15px;

}

#nav .fa-solid {
    font-size: 14px;

}

#header .search-btn {
    float: right;
    line-height: 46px;
    padding: 0 24px;

}

#header .search-icon {
    color: #000;
    font-size: 14px;
}

#header .search-btn:hover {
    background-color: red;
    cursor: pointer;

}

#slider {
    padding-top: 10%;
    padding-bottom: 55%;
    
    margin-top: 46px;
    background: url('/assets/image/slider/283147018_5554417171237296_8928027885350131169_n.png') top center / cover no-repeat;
    position: relative;

}

.text-content {
    color: black;
    position: absolute;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin:
}

.text-heading {
    font-size: 48px;
    font-weight: 500;
}

.text-description {
    font-size: 30px;
    padding-top: 15px;
}

#content {}

#content .content-section {
    max-width: 800px;
    padding: 64px 16px 64px 16px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 15px;
    font-style: italic;
    opacity: 0.6;

}

#content .about-text {
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .section-heading,
#content .section-sub-heading {
    text-align: center;
}

#content .member-list {
    margin-top: 47px;

}


    

#content .member-name {
    font-size: 15px;
    margin-bottom: 15px;


}

#content .member-img {
    width: 200px;
    border-radius: 4px;
}

/* tour section */
.tour-section {
    background-color:yellow;
}

.ticket-list {
    background-color: #fff;
    margin-top: 40px;
    list-style-type: none;
}

.ticket-list li {
    font-size: 15px;
    padding: 8px 16px 8px 16px;
    border-bottom: 1px solid rgb(221, 221, 221);


}

.ticket-list .sold-out {
    background-color: #f44336;
    margin-left: 16px;
    color: #fff;
    padding: 0 8px;
}

.ticket-list .quantity {
    float: right;
    color: #fff;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* places*/
.places-list {
   
    margin-top:32px;
}

.places-item {
   
    width: calc(100%/3);

    

}

.place-heading {
    font-size: 15px;
    margin-top: 15px;
}

.places-img:hover {
    opacity: 0.7;
}

.places-img {
    width: 100%;
    display: block;
}
.open-don{
    height:0%;
}
.place-body {
    background-color: #fff;
    padding: 0.15px 16px 0.15px 16px;
    box-sizing: border-box;
    margin-bottom: 32px;

}

.place-time {
    font-size: 15px;
    margin: 15px 0;
    opacity: 0.6;
}

.place-desc {
    font-size: 15px;
    margin-bottom: 18px;
}

.place-buy-btn {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    padding: 8px 16px 8px 16px;
    margin-bottom: 15px;
    display: inline-block;
    border: none;
}

.place-buy-btn:hover {
    cursor: pointer;
    color: #000;
    background-color: #ccc
}

/* contact-details */



.content-section .map-buts,
.content-section .phone-buts {
    font-size: 12px;
}


.input-infor {
    border: 1px solid #ccc !important;
    padding: 8px;
    width: 100%;


}
.contact-content{
    padding-top:32px;
}
.form-submit {
    float: right;
    padding:8px 16px 8px 16px;
    background-color: #000;
    color: #fff;
}
.form-submit:hover{
    cursor: pointer;
    background-color:#ccc;
    color:#000;
 

}


 #footer {
    padding:64px 16px;
    text-align: center;
    font-size:24px;
}
.social-list a:hover{
    opacity: 0.7;
}
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 3;

}

.modal-container {
    background-color: #fff;
    min-height: 300px;
    width: 900px;
    max-width: calc(100% -32px);
    position: relative;
    animation: modalIn ease 0.3s;

}

.modal.open {
    display: flex;
}


header.modal-header {
    background-color: #009688;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.modal .modal-body {
    padding: 0.15px 16px 0.15px 16px;
}

.modal .suit-icon {
    margin-right: 10px;
    font-size: 29px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px 16px 16px 16px;
    font-size: 16px;
}

.modal .modal-close:hover {
    color: #000 !important;
    background-color: #ccc !important;
    cursor: pointer;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin: 15px 0;

}

.modal-input {
    width: 868px;
    height: 40.5px;
    border: 1px solid #ccc;
}

#pay {
    background-color: #009688;
    width: 865px;
    height: 54 px;
    border: none;
    font-size: 15px;
    color: #fff;
    padding: 16px 16px 16px 16px;
    margin: 16px 0px 16px 0px;
}

.modal-help {
    font-size: 15px;

    padding-right: 16px;
    float: right;
    margin-top: 20 px;

}

#pay:hover {
    background-color: #ccc;
    cursor: pointer;
    color: #000;
}

@keyframes modalIn {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
    }
}